
.about {
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    grid-column-start: 2;
    margin-top: 10%;
}

.license{
    text-align: center;
    color:grey;
    margin-top: 5%;
}

p {
    text-align: left;
    padding-left: 4%;
    margin-top: 5%;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: minmax(33%, auto);
}
