
.about {
    text-align: center;
    margin-top: 10%;
    background-color: white;
    float: right;
    right: 40%;
    position: relative;
    width:30%;
    box-shadow: 5px 5px 5px grey;

}

.license{
    text-align: center;
    color:grey;
    margin-top: 5%;
}

p {
    text-align: left;
    padding-left: 4%;
    margin-top: 5%;
}

.aboutContainer {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
}
