
.about {
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    grid-column-start: 2;
    margin-top: 10%;
    min-width: 300px;
}

.license{
    text-align: center;
    color:grey;
    margin-top: 5%;
}

.aboutText {
    text-align: left;
    padding-left: 4%;
    margin-top: 5%;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
