
.bucketForm {
    text-align: center;
    margin-top: 1%;
    background-color: white;
    float: right;
    position: relative;
    width:100%;
    box-shadow: 5px 5px 5px grey;

}

.bucketContainer {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    overflow-y: hidden;
}
