
.bucketForm {
    text-align: center;
    margin-top: 10px;
    background-color: white;
    float: right;
    position: relative;
    width:100%;
    box-shadow: 5px 5px 5px grey;

}

.bucketContainer {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow-y: hidden;
}
