
.tripPropsForm {
    text-align: center;
    background-color: white;
    float: right;
    position: relative;
    width:100%;
    padding: 5px;
    box-shadow: 5px 5px 5px grey;
    clear: both;

}

.tripPropContainer {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

p {
  display: inline;
  margin-right: 10px;
}

.prop {
    font-size: large;
    
}


.dashboardForm {
    text-align: center;
    margin-top: 15px;
    background-color: white;
    right: 43%;
    float: right;
    position: relative;
    width:300px;
    box-shadow: 5px 5px 5px grey;

}

.dashboardContainer {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    clear: both;
}
