
.loginForm {
    text-align: center;
    margin-top: 10%;
    background-color: white;
    float: right;
    right: 40%;
    position: relative;
    width:20%;
    box-shadow: 5px 5px 5px grey;

}

.loginContainer {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
}
