.motionForm {
    text-align: center;
    margin-top: 1%;
    background-color: white;
    float: right;
    right: 30%;
    position: relative;
    width:40%;
    padding: 1%;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 2%;
}

.motionContainer {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}