.motionForm {
    text-align: center;
    background-color: white;
    padding: 3%;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 4%;
    min-width: 300px;
    grid-column-start: 2;
    margin-top: 5%;
}

.motionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}