.pledgeWrapper {
    text-align: center;
}

.ListItem{
    text-align: left;

}

.pledge {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    float: right;
    position: relative;
    width:100%;
    box-shadow: 5px 5px 5px grey;

}

.pledgeButton{
    margin: 1%;
    border: thin solid;
    border-radius: 0.5%;
    background-color: #8dace080;
}

.pledgeWrapper {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}
